#nav{
    padding: 1rem 2rem 0 2rem;
    justify-content: space-between;
    box-shadow: 10px 2px 30px rgba(128, 128, 128, 0.247);
    position: sticky;
    top: 0;
}

.searchfield {
    background-color: red;
}

.searchicon{
    margin-left: 0.4rem;
}